@font-face {
  font-family: 'Coffe';
  src: url('AdrenalinesDemoRegular.ttf') format('truetype');
  /* Weitere Formate, z.B. woff, woff2, können hinzugefügt werden */
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-right-section {
    flex: 1;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-right-section {
    flex: 1;
    background-color: #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;
}


p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 2em;
}

img {
    max-width: 100%;
    height: auto;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Coffe', sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .header {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    height: 10%;
}

  .left-section {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    width:50%;

  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 1em;
  }
  
  .table-container {
    flex: 1;
    overflow-y: auto;
    margin-top: 1em;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f7f7f7;
  }
  
  th,
  td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  th {
    background-color: #e0e0e0;
    font-weight: bold;
  }
  
  