.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f7f7f7;
  }
  
  th,
  td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  th {
    background-color: #e0e0e0;
    font-weight: bold;
  }